{% extends 'base_page.html' %}
{% load static %}
{% block script %}
    <script type="text/javascript" src="{% static 'js/citystate.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="d-flex flex-column h-100 bg-light rounded-3 shadow-lg p-4">
              <div class="py-2 p-md-3">
                <!-- Title + Delete link-->
                <div class="d-sm-flex align-items-center justify-content-between pb-4 text-center text-sm-start">
                  <h1 class="h3 mb-2 text-nowrap">Profile info</h1><a class="btn btn-link text-danger fw-medium btn-sm mb-2" href="/deleteaccount"><i class="ai-trash-2 fs-base me-2"></i>Delete account                        </a>
                </div>
                <!-- Content-->
                <div class="bg-secondary rounded-3 p-4 mb-4">
                  <form method="post" action="/updateprofilepic" enctype="multipart/form-data">
                      {% csrf_token %}
                    <div class="d-block d-sm-flex align-items-center">
                      <!--<img class="d-block rounded-circle mx-sm-0 mx-auto mb-3 mb-sm-0" src={{profilepic}} alt="Amanda Wilson" width="110">-->
                      <label for="file-input">
                        <img class="d-block rounded-circle mx-sm-0 mx-auto mb-3 mb-sm-0" src={{profilepic}} alt="Amanda Wilson" width="110" />
                      </label>
                      <input style="display: none;" id="file-input" type="file" accept="image/*" name="profilepic" required />
                      <div class="ps-sm-3 text-center text-sm-start">
                        <button class="btn btn-light shadow btn-sm mb-2" type="submit" id="profile-pic"><i class="ai-refresh-cw me-2"></i>Change avatar</button>
                        <div class="p mb-0 fs-ms text-muted">Upload JPG, GIF or PNG image. 300 x 300 required.</div>
                      </div>
                    </div>
                  </form>
                </div>
                <div>
                  <div id="loaderprofile" class="lds-dual-ring hidden overlay" style="width: 100%;height: 100%"></div>
                </div>
                <span id="account-display-msg"></span>
                <form method="post" action="updateprofile">
                  {% csrf_token %}
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="mb-3 pb-1">
                        <label class="form-label px-0" for="account-country">Country</label>
                        <select class="form-select" id="account-country" name="country">
                          <option value='Choose City'>Choose Country</option>
                          {% if country %}
                            <option value="{{country}}" selected>{{country}}</option>
                          {% endif %}
                          {% for country in countries %}
                            <option value={{country.country}}>{{country.country}}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="mb-3 pb-1">
                        <label class="form-label px-0" for="account-city">City</label>
                        <select class="form-select" id="account-city" name="city">
                          {% if city %}
                            <option value="{{city}}" selected>{{city}}</option>
                          {% endif %}
                        </select>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="mb-3 pb-1">
                        <label class="form-label px-0" for="account-address">Address Line</label>
                        <input class="form-control" type="text" id="account-address" value="{{address}}" name="address" required>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="mb-3 pb-1">
                        <label class="form-label px-0" for="account-zip">ZIP Code</label>
                        <input class="form-control" type="text" id="account-zip" value="{{zipcode}}" name="zipcode" required>
                      </div>
                    </div>
                    <div class="col-12">
                      <hr class="mt-2 mb-4">
                      <div class="d-flex flex-wrap justify-content-between align-items-center">
                        <div class="form-check d-block">
                          <input class="form-check-input" type="checkbox" id="show-email" checked>
                          <label class="form-check-label" for="show-email">Show my email to registered users</label>
                        </div>
                        <button class="btn btn-info mt-3 mt-sm-0" type="submit" id="updatebutton"><i class="ai-save fs-lg me-2"></i>Save changes</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
        </div>
        <!-- end col-12 -->
    </div> <!-- end row -->
{% endblock %}