{% extends 'base_page.html' %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="d-flex flex-column h-100 bg-light rounded-3 shadow-lg p-4">
                <div class="py-2 p-md-3">
                <!-- Title + Delete link-->
                <div class="d-sm-flex align-items-center justify-content-between pb-4 text-center text-sm-start">
                  <h1 class="h3 mb-2 text-nowrap">Steps</h1><a class="btn btn-link text-danger fw-medium btn-sm mb-2" href="/deleteaccount"><i class="ai-trash-2 fs-base me-2"></i>Delete account                        </a>
                </div>
                  {% if success %}
                        <p><span style="color: crimson">{{success}}</span></p>
                  {% endif %}
                    {% if fail %}
                        <p><span style="color: crimson">{{fail}}</span></p>
                    {% endif %}
                      <form method="post" action="/steps" enctype="multipart/form-data">
                          {% csrf_token %}
                          <div class="mb-3 pb-1">
                            <label class="form-label px-0" for="project-name">Project Name</label>
                            <input class="form-control" type="text" id="project-name" name="projectName" required>
                          </div>
                          <div class="mb-3 pb-1">
                            <label class="form-label px-0" for="customer-name">Customer Name</label>
                            <input class="form-control" type="text" id="customer-name" name="customerName" required>
                          </div>
                          <div class="mb-3 pb-1">
                            <label class="form-label px-0" for="project-description">Project Description</label>
                            <textarea name="projectDescription" class="form-control" id="project-description"></textarea>
                          </div>
                          <label for="formFileLg" class="form-label">Please upload the Steps Documents</label>
                          <input class="form-control form-control-lg" id="formFileLg" name="userfile" type="file" required />
                          <br/><br/>
                          <button type="submit" class="btn btn-primary btn-lg">Save</button>
                    </form>
                  {% if has_files == False %}
                    <p><span style="color: crimson">You Don't Have Any Files till Now</span></p>
                  {% endif %}
                  <div class="card-body table-responsive p-0" style="height: 300px;">
                      {% if has_files %}
                        <table class="table table-head-fixed text-nowrap" id="items-display-table">
                          <thead>
                            <tr>
                                <th>Project Name</th>
                                <th>Customer Name</th>
                                <th>Project Description</th>
                              <th> File Name</th>
                                <th>Preview</th>
                              <th> Download </th>
                            </tr>
                          </thead>
                          <tbody>
                              {% for data in userdata %}
                                  <tr>
                                      <td>
                                          <a style="text-decoration: none" href="/project/{{data.projectName}}">{{data.projectName}}</a>
                                      </td>
                                      <td>
                                          {{data.customerName}}
                                      </td>
                                      <td>
                                          {{data.description}}
                                      </td>
                                    <td>
                                        {{ data.userFile }}
                                    </td>
                                      <td>
                                         <a class="btn btn-link text-danger fw-medium btn-sm mb-2" href="/media/{{data.userFile}}" target="_blank"><i class="fa fa-eye" aria-hidden="true"></i></i>Preview</a>
                                      </td>
                                    <td>
                                        <a class="btn btn-link text-danger fw-medium btn-sm mb-2" download="/media/{{data.userFile}}" href="/media/{{data.userFile}}"><i class="fa fa-download" aria-hidden="true"></i></i>Download</a>
                                    </td>
                                  </tr>
                              {% endfor %}
                          </tbody>
                        </table>
                      {% endif %}
                    </div>
                    </div>
                </div>
            </div>
            <!-- end col-12 -->
        </div> <!-- end row -->
{% endblock %}