{% extends 'base_page.html' %}
{% load static %}
{% block script %}
    <script src="{% static 'js/form_creation.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="d-flex flex-column h-100 rounded-3 p-4">
              <div class="py-2 p-md-3">
                <!-- Title + Delete link-->
                <div class="d-sm-flex align-items-center justify-content-between pb-4 text-center text-sm-start">
                  <h1 class="h3 mb-2 text-nowrap">Create Forms</h1><a class="btn btn-link text-danger fw-medium btn-sm mb-2" href="/deleteaccount"><i class="ai-trash-2 fs-base me-2"></i>Delete account                        </a>
                </div>
                <!-- Content-->
                <div class="rounded-3 p-4 mb-4">
                    <p><span style="color: crimson" id="form-display-err"></span></p>
                    <p><span style="color: crimson" id="form-display-sucess"></span></p>
                    <div class="mb-3 pb-1">
                        <label class="form-label px-0" for="project-name">Name Of Form</label>
                        <input class="form-control" type="text" id="project-name" name="projectName" required>
                    </div>
                    <div class="mb-3 pb-1">
                        <label class="form-label px-0" for="project-description">Form Description</label>
                        <textarea name="projectDescription" class="form-control" id="project-description"></textarea>
                    </div>
                      <button type="submit" class="btn btn-primary btn-lg" id="get-form-link">Get Form Link</button>
                    </div>
                    <div class="mb-3 pb-1" style="width: auto">
                        <input class="form-control" type="text" id="form-filed-label" placeholder="Enter Label Of Filed" style="float: left;width: auto" required>
                         &nbsp;&nbsp;&nbsp;&nbsp;
                        <select id="selectCategory" class="form-select" style="width: auto;float: left" required>
                            <option value="">Choose Field Type</option>
                            <option value="text">text</option>
                            <option value="email">email</option>
                            <option value="file">upload files</option>
                      </select>
                        <div class="form-check form-switch" style="float: left;text-align: justify;padding-left: 300px">
                          <input type="checkbox" class="form-check-input" id="customSwitch1">
                          <label class="form-check-label" for="customSwitch1">Required</label>
                        </div>
                        <button class="btn btn-primary" id="addFiledBtn" style="float: right">
                            <i class="fa fa-plus" aria-hidden="true"></i> Add Filed
                        </button>
                    </div>
                </div>
              <div class="card-body table-responsive p-0" id="form-display">
              </div>
              </div>
            </div>
        </div>
        <!-- end col-12 -->
    </div> <!-- end row -->

{% endblock %}