{% extends 'base_page.html' %}
{% load crispy_forms_filters %}
{% load i18n %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="d-flex flex-column h-100 rounded-3 shadow-lg p-4">
              <div class="py-2 p-md-3">
                  <h1>Create Documents</h1>
                  <form method="post" enctype="multipart/form-data">
                      {% csrf_token %}
                      {{ form | crispy }}
                      <br/>
                      <button type="submit" class="btn btn-success">{% trans 'Create' %}</button>
                  </form>
              </div>
            </div>
        </div>
    </div>
{% endblock %}