{% extends 'base_page.html' %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="d-flex flex-column h-100 bg-light rounded-3 shadow-lg p-4">
            <div class="py-2 p-md-3">
              <!-- Title + Delete link-->
              <div class="d-sm-flex align-items-center justify-content-between pb-4 text-center text-sm-start">
                <h1 class="h3 mb-2 text-nowrap">Forms Information</h1><a class="btn btn-link text-danger fw-medium btn-sm mb-2" href="/deleteaccount"><i class="ai-trash-2 fs-base me-2"></i>Delete account                        </a>
              </div>
              <!-- Content-->

                <div class="card-body table-responsive p-0" style="height: 300px;">
                      <table class="table table-head-fixed text-nowrap" id="items-display-table">
                        <thead>
                          <tr>
                              <th>Form Name</th>
                              <th>Form Description</th>
                              <th>Form Url</th>
                              <th>Form Responses</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for form in forms %}
                            <tr>
                              <td>
                                {{form.form_name}}
                              </td>
                              <td>
                                {{form.form_description}}
                              </td>
                              <td>
                                <a href="/forms/publish/{{form.id}}" style="text-decoration: none" target="_blank"><!--http://127.0.0.1-->https://stepsaasautomation.herokuapp.com/forms/publish/{{form.id}}</a>
                              </td>
                              <td>
                                <a href="/forms/responses/{{form.id}}" target="_blank" style="text-decoration: none">View Responses</a>
                              </td>
                            </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                  </div>

            </div>
          </div>
        </div>
        <!-- end col-12 -->
    </div> <!-- end row -->
{% endblock %}