{% extends 'base_page.html' %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="d-flex flex-column h-100 rounded-3 p-4">
              <div class="py-2 p-md-3">
                <!-- Title + Delete link-->
                <div class="d-sm-flex align-items-center justify-content-between pb-4 text-center text-sm-start">
                  <h1 class="h3 mb-2 text-nowrap">Project Information</h1><a class="btn btn-link text-danger fw-medium btn-sm mb-2" href="/deleteaccount"><i class="ai-trash-2 fs-base me-2"></i>Delete account                        </a>
                </div>
                <!-- Content-->
                Name : {{data.projectName}}
                <br/>
                <br/>
                Customer Name : {{data.customerName}}
                <br/>
                <br/>
                Project Description : {{data.description}}

              </div>
            </div>
        </div>
        <!-- end col-12 -->
    </div> <!-- end row -->
{% endblock %}