{% extends 'base_page.html' %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="d-flex flex-column h-100 bg-light rounded-3 shadow-lg p-4">
              <div class="py-2 p-md-3">
                <!-- Title + Delete link-->
                <div class="d-sm-flex align-items-center justify-content-between pb-4 text-center text-sm-start">
                  <h1 class="h3 mb-2 text-nowrap">View Form Responses</h1><a class="btn btn-link text-danger fw-medium btn-sm mb-2" href="/deleteaccount"><i class="fas fa-trash"></i></i>Delete account                        </a>
                </div>
                <!-- Content-->

                  <div class="card-body table-responsive p-0" style="height: 300px;">
                        <table class="table table-head-fixed text-nowrap" id="items-display-table">
                          <tbody>
                            {% if has_files %}
                                {% for each_response in form_responses %}
                                    <tr>
                                        {% for response_data in each_response %}

                                            {% if forloop.counter == 1 %}
                                                {% for file_data in response_data %}
                                                    <td>
                                                      <a href="/media/{{file_data}}" target="_blank">{{file_data}}</a>
                                                    </td>
                                                {% endfor %}
                                            {% else %}
                                                <td>
                                                    {{response_data}}
                                                </td>
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            {% else %}
                                {% for each_response in form_responses %}
                                    <tr>
                                        {% for response_data in each_response %}
                                            <td>
                                                {{response_data}}
                                            </td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            {% endif %}
                          </tbody>
                        </table>
              </div>

              </div>
            </div>
        </div>
        <!-- end col-12 -->
    </div> <!-- end row -->
{% endblock %}